.footer {
  margin-top: auto;
  border-top: 1px solid #ccc;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media (max-width: 768px) {
    justify-content: space-between;
  }

  span {
    position: absolute;
    right: 0;

    @media (max-width: 768px) {
      position: static;
    }
  }
}

.provided {
  font-weight: bold;
  font-size: 12px;

  a {
    color: #0D47A1;
    text-decoration: none;
  }
}